<body>

  <h1>{{title}}</h1>
  <p>Welcome to Screen Scouts! Use the search bar below to find movies and shows.</p>
<div class = "title-search">
  <!-- Search Form -->
  <form id="searchForm">
    <input type="text" id="searchInput" placeholder="Enter movie or show name" required>
    <button type="submit">Search</button>
  </form>
</div>
  
  <input type="hidden" id="userId" value="{{userId}}">

  <!-- Search Results -->
  <div id="results"></div>
  <div id="pagination" style="margin-top: 20px;"></div>

  <script src="/js/search.js"></script> 
</body>

<a href="/add"><button>Add Media</button></a>
