<body>

  <h1>{{title}}</h1>
  <p>Welcome to Screen Scouts! Use the search bar below to find movies and shows.</p>

  <!-- Search Form -->
  <form id="searchForm">
    <input type="text" id="searchInput" placeholder="Enter movie or show name" required>
    <button type="submit">Search</button>
  </form>

  <!-- Hidden userId input -->
<<<<<<< HEAD
  <input type="hidden" id="userId" value="{{userId}}">
=======
  {{!-- <input type="hidden" id="userId" value="{{userId}}"> --}}
    <input type="hidden" id="userId" value="{{675b490f2c6bb69df0de2eff}}">

>>>>>>> b63d122593ebb6814c3b70735463aefe165d086b

  <!-- Search Results -->
  <div id="results"></div>
  <div id="pagination" style="margin-top: 20px;"></div>

  <script src="/js/search.js"></script> 
</body>

<a href="/add"><button>Add Media</button></a>
