<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>"Sign Out Page"</title>
    <link rel="stylesheet" href="/public/css/main.css">
</head>

<body>
    <div id="signoutView">
        <h1>You have been logged out</h1>
        <p>Your session has ended. To sign back in, click the link below:</p>
        <a id="signinLink" href="/signinuser">Sign In</a>
    </div>
</body>
</html>