<div  class="list-sm"> Add a new Show</div>
<div class = "title-search">

   

    <form action="/media/allmovies" method="GET" style="display:contents">      
        <button id="submit_button" name="submit_button" type="submit"> All Movies </button>
    </form>

      <form action="/media/allshows" method="GET" style="display:contents">      
        <button id="submit_button" name="submit_button" type="submit"> All Shows </button>
    </form>

      <form action="/media/newMovie" method="GET" style="display:contents">      
        <button id="submit_button" name="submit_button" type="submit"> Add Movie </button>
    </form>

</div>
<form action="/media/newShow" method="POST">
    <input type="text" name="title" id ="title" placeholder="Title" required>
    <textarea name="overview" id ="overview" placeholder="Synopsis" required rows="10" cols="80"></textarea>
    <input type="text" id="rating" placeholder="Rating" required>
    <input type="text" id="popularity" placeholder="Popularity" required>
    <input type="text" id="director" placeholder="Director/creator" required>
    <select name="type">
        <option value="movie">Movie</option>
        <option value="show">Show</option>
    </select>
    <input type="date" name="airedDate" id="airedDate" required>
    <button type="submit">Add</button>
</form>
