<h2>Welcome</h2>
<form id="search-form" method="POST" action="/media/search">
  <label for="media_id">Media Search</label>
  <input type="text" id="media_id" name="media_id" required/>
   <button id="submit_button" name="submit_button">Submit</button>
</form>
<div><a href="/media/new">Click here to add a movie/show!</a></div>

<div>...........................................................</div>
<div><a href="/media/allmovies">Click here to see the list of all movies!</a></div>
<div>...........................................................</div>
<div></div><div><a href="/media/allshows">Click here to see the list of all shows!</a></div>
<div></div>

{{#if error}}<p>{{error}}</p>{{/if}}
