
<div  class="list-sm"> List of Movies</div>
<div class = "title-search">

    <form action="/media" method="GET" style="display:contents">      
        <button id="submit_button" name="submit_button" type="submit"> Home </button>
    </form>

    <form action="/media/allshows" method="GET" style="display:contents">      
        <button id="submit_button" name="submit_button" type="submit"> All Shows </button>
    </form>

      <form action="/media/newMovie" method="GET" style="display:contents">      
        <button id="submit_button" name="submit_button" type="submit"> Add Movie </button>
    </form>

      <form action="/media/newShow" method="GET" style="display:contents">      
        <button id="submit_button" name="submit_button" type="submit"> Add Show </button>
    </form>

</div>

<div  class="list-sm">
    {{#each media}}     

        <form action="/media/search" method="POST" style="display:contents">
        <input type="hidden" name="media_id" value="{{this.title}}">
        <button type="submit" style="border: none; background: none; padding: 0;">
        <img src="https://image.tmdb.org/t/p/w200{{this.poster_path}}" alt="{{this.title}}" style="cursor: pointer;"/>
        </button>
  </form>
      
    {{/each}}
</div>
