
<div  class="list-sm"> List of TV Shows.</div>
<div class = "title-search">

    

    <form action="/media/allmovies" method="GET" style="display:contents">      
        <button id="submit_button" name="submit_button" type="submit"> All Movies </button>
    </form>

      <form action="/media/newMovie" method="GET" style="display:contents">      
        <button id="submit_button" name="submit_button" type="submit"> Add Movie </button>
    </form>

      <form action="/media/newShow" method="GET" style="display:contents">      
        <button id="submit_button" name="submit_button" type="submit"> Add Show </button>
    </form>

</div>

<div  class="list-sm">
    {{#each media}}    
        <form action="/media/search" method="POST" style="display:contents">
        <input type="hidden" name="media_id" value="{{this.name}}">
        <button type="submit" style="border: none; background: none; padding: 0;">
            
        {{#if this.name}}
        <img src="https://image.tmdb.org/t/p/w200{{this.poster_path}}" alt="{{this.name}}" style="cursor: pointer;" />
        {{else}}
        <img src="noimage" alt="No Image Available" style="cursor: pointer;" />
        {{/if}}
        
        </button>
         </form>
    {{/each}}
</div>
